<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body>
    <p>hola mundo casd</p>
    <div>
        <table class="table ">
            <thead class="thead-dark">
                <tr class="">
                    <th scope="col">id</th>
                    <th scope="col">Link</th>
                    <th scope="col">Precio</th> 
                    <th scope="col">Precio Anterior</th>
                    <th scope="col">Accion</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i= 0; i<productoModel.length; i++){%>
                    <tr>
                        <td><input name="id" class="btn" type="text" value="<%= productoModel[i].id%>"></input></td>
                        <td><input name="Link"            type="text" value="<%= productoModel[i].Link%>"></input></td>
                        <td><input name="Precio"          type="text" value="<%= productoModel[i].Precio%>"></input></td>
                        <td><input name="PrecioAnterior"  type="text" value="<%= productoModel[i].PrecioAnterior%>"></input></td>
                        <td>
                            <button type="submit" onclick="Update(this);">Update</button>
                            <button type="submit">Delete</button>
                        </td>
                    </tr>
                   <%}%>
            </tbody>
        </table>
    </div>
    <script>
        function Update(obj){
           
            console.log(obj.parentNode.parentNode.closest('.id'));
        }
    </script>
</body>
</html>